label {
	font-family: georgia;
	font-size: 1rem;
	line-height: 25px;
	margin: 24px 0;
	text-align: left;
	margin-left: 20px;
}

#addWorker, #workerRegistration, #entityRegistration {
	font-family: georgia;
	font-size: 1rem;
	line-height: 25px;
	margin: 24px 0;
	text-align: left;
	margin-left: 20px;
}

input[type="text"] {
	outline:none;
	width: 250px;
	height:26px;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    font-size: 12px;
    background-color:white;
    padding: 4px 4px 4px 4px;
    -webkit-transition: all .35s ease-in-out;
  	transition: all .35s ease-in-out;
}

input[type="radio"] {
	outline:none;
	width: 26px;
	height:15px;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    font-size: 12px;
    background-color:white;
    padding: 4px 4px 4px 4px;
    -webkit-transition: all .35s ease-in-out;
  	transition: all .35s ease-in-out;
  	margin-left: 20px;
}

input[type=radio]:focus {
    border-color: #DB7F1E;
}

input[type=text]:focus {
    border-color: #DB7F1E;
}

input[type="checkbox"] {
	outline:none;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    background-color:white;
}

#register, #addEntityandManager, #promote {
	background-color: rgba(251, 183, 44, 0.5);
	border: none;
	color:rgb(173, 89, 0);
	border-radius:6px;
	padding:4px;
	font-size: 14px;
	height:30px;
	width:160px;
}

#addEntityandManager, #promote, #register {
	margin-left: 20px;
	margin-bottom:20px;
}

#worker, #back {
	margin-bottom: 10px;
}

#birthdate {
	margin-bottom: 15px;
}

#title {
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 30px;
}

#addCompany {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
