/* DADOS - Content widget */
.dados {
    clear: both;
	text-align: center;
	width: 100%;
}

.dados-block {
	margin-bottom: 10px;
    box-shadow: 0 0 1px 0px #848484;
    background-color: rgb(255, 255, 255);
}

.dados-block:hover {
    box-shadow: 0 0 3px 0 #db7f1e;
}

.dados-block:hover .dados-header {
    background-color: #db7f1e;
    color: white;
}

.dados-block:hover .dados-content {
    background-color: #fff0cd;
}

.dados-half-left {
	width: 49%;
	float: left;
}

.dados-half-right {
	width: 49%;
	float: right;
}

.dados-full {
	width: 100%;
}

.dados-header {
    background-color: rgba(202, 202, 202, 0.13);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
	-webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.dados-content {
    padding: 6px;
}

.container {
    /*width: 570px;*/
    border: 1px solid #A0A0A0;
    margin: 6px;
    background: white;
    border-radius: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 5px;
}

.container:hover {
	border: 1px solid #db7f1e;
}

div#rissues, div #comments {
    text-align: left;
    padding-left: -1px;
}

p.reportText {
    color: #444;
    margin-bottom: 2px;
}

.dados-dentro-three {
    width: 33%;
    /* float: left; */
    margin-right: 4px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.dados-three {
    clear: both;
    text-align: center;
    display: flex;
    overflow: hidden;
    width:100%
}

/*---------------------------------------------------------------------------*/
.check-icon {																   
    position: relative;
    color: #af6f2e;
    border-radius: 16px;
    width: 45%;
    border: none;
}

.check-icon .tooltiptext {
    visibility: hidden;
    width: 45%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.check-icon .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.check-icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.pagina-content {
	padding: 10px;
   display: flex;
    width: 100%;
}