#map {
	height: 477px;
	width: 100%;
}

p {
	font-family: georgia;
	font-size: 1rem;
	line-height: 25px;
	margin: 24px 0;
	text-align: center;
}

input[type="text"] {
	outline:none;
	width: 100%;
	height:26px;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    font-size: 12px;
    background-color:white;
    padding: 4px 4px 4px 4px;
    -webkit-transition: all .35s ease-in-out;
  	transition: all .35s ease-in-out;
  	cursor: pointer;
}

input[type=text]:focus {
    border-color: #DB7F1E;
}

select {
	width: 271px;
    font-size: 12px;
    border: 1px solid;
    border-color: #A0A0A0;
    border-radius: 6px;
    padding:4px;
	background: url(/resource/dropdown.png) no-repeat right white;
	/*padding:4px;*/
	height:26px;
	-webkit-appearance: none;
	-moz-appearance:none;
    background-position-x: 244px;
}

select:focus {
	border-color: #DB7F1E;
}

#submit {
	background-color: rgba(251, 183, 44, 0.5);
	border: none;
	color:rgb(173, 89, 0);
	border-radius:3px;
	padding:4px;
	font-size: 14px;
	height:30px;
	padding-left: 22px;
    padding-right: 22px;
    margin-top: 26px;
}

textarea {
	width:100%;
	padding:12px;
	border:1px solid;
	border-color: #A0A0A0;
	border-radius: 6px;
}

textarea:focus {
	border-color:#DB7F1E;
}

.controls {
	  margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
   	font-family: Roboto;
   	font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
   	padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

.pagina-content {
	padding: 10px;
   display: flex;
    width: 100%;
}

/* TWO COLUMN CONTENT DISPLAYER*/
.pagina-left-content {
    /* float: left; */
    width: 50%;
    padding-right: 6px;
    /* clear: none; */
}

.pagina-right-content {
    /* float: right; */
    width: 50%;
    padding-left: 6px;
    /* clear: none; */
}

/* DADOS - Content widget */
.dados {
    clear: both;
	text-align: center;
}

.dados-block {
	margin-bottom: 14px;
	/*padding-bottom:6px;*/
    box-shadow: 0 0 1px 0px #848484;
    background-color: rgb(255, 255, 255);
}

.dados-block:hover {
    box-shadow: 0 0 3px 0 #db7f1e;
}

.dados-block:hover .dados-header {
    background-color: #db7f1e;
    color: white;
}

.dados-block:hover .dados-content {
    background-color: #fff0cd;
}

.dados-full {
	width: 100%;
}

.dados-header {
    background-color: rgba(202, 202, 202, 0.13);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
	-webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    overflow:hidden;
}

.dados-content {
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow:hidden;
}

/* BUTTONS */
.box-button {
	width: 30%;
    background-color: #cecece;
    color: white;
    border: none;
    padding: 1px;
    cursor: pointer;
}

.box-button:hover {
    background-color: #f9c659;
}

.box-button:active, .box-button.activated {
	background-color: #f9c659;
}

.box-button:active, .box-button.activated {
	background-color: #f9c659;
}

@media screen and (max-width: 490px) {
	.pagina {
		height: 100%;
		position:absolute;
		overflow: scroll;
		width:97%;
		margin-left: 0.5%
	}
	
	.tudo.pagina {
		height: 100%;
		position:absolute;
		overflow: scroll;
		width:97%;
		margin-left: 0.5%
	}
	
	input[type="text"] {
		outline:none;
		width: 100%;
		height:26px;
    	box-sizing: border-box;
   	 	border: 1px solid; 
    	border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    	border-radius: 6px;
    	font-size: 12px;
    	background-color:white;
   		padding: 4px 4px 4px 4px;
    	-webkit-transition: all .35s ease-in-out;
  		transition: all .35s ease-in-out;
  		cursor: pointer;
	}
	
	select {
		width: 271px;
    	font-size: 12px;
    	border: 1px solid;
    	border-color: #A0A0A0;
    	border-radius: 6px;
    	padding:4px;
		background: url(/resource/dropdown.png) no-repeat right white;
		/*padding:4px;*/
		height:26px;
		-webkit-appearance: none;
		-moz-appearance:none;
   	 	background-position-x: 244px;
	}
	
	#submit {
		background-color: rgba(251, 183, 44, 0.5);
		border: none;
		color:rgb(173, 89, 0);
		border-radius:3px;
		padding:4px;
		font-size: 14px;
		height:30px;
		padding-left: 22px;
    	padding-right: 22px;
   		margin-top: 1%;
    	margin-bottom: 1.5%;
	}

	textarea {
		width:100%;
		padding:2px;
		border:1px solid;
		border-color: #A0A0A0;
		border-radius: 6px;
	}
	
	.pac-container {
	font-family: Roboto;
	}

	.pagina-content {
		padding: 10px;
    	/* display: flex; */
   	 	width: 100%;
    	overflow-y: scroll;
    	position: relative;
    	float: none;
    	display: block;
    	clear: both;
	}

	/* TWO COLUMN CONTENT DISPLAYER*/
	.pagina-left-content {
    	width: 100%;
    	display: inline-block;
    	vertical-align: top;
	}

	.pagina-right-content {
   	 	width: 100%;
    	display: inline-block;
    	vertical-align: top;
	}

	.dados-block {
		margin-bottom: 8px;
    	padding-bottom: 4px;
    	box-shadow: 0 0 1px 0px #848484;
    	background-color: rgb(255, 255, 255);
	}
	
	.dados-content {
		padding: 6px;
    	padding-top: 5px;
    	padding-bottom: 0px;
    	overflow: hidden;
	}
	
}

