html, body {
	height: 100%;
}

#map {
	height: 600px;
	width: 100%;	
    border-radius: 4px;
}

.div1 {
	width: 200px;
	height:150px;
}

.div1 img {
	/*max-width:200px;
	max-height:150px;
	clip: rect (200px, 150px, 200px, 150px);
    margin-left: 28px;*/
    width:100%;
    height:150px;
    object-fit: cover;
    /*border-radius:6px;*/
}

#issues{
	/*background-color: rgb(219, 127, 30);
    font-size: .85rem;
    font-weight: 500;
    height: 34px;
    line-height: 38px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    text-transform: uppercase;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    text-align: left;
    text-indent: 6px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);*/
}
}

p {
	font-family: georgia;
	font-size: 1rem;
	line-height: 25px;
	margin: 24px 0;
	text-align: center;
}

.wrapper1 { 
       /* background:#EFEFEF; 
        box-shadow: 1px 1px 10px #999;*/
        /*margin: auto; */
       /* text-align: center; */
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
       /* margin-bottom: 20px !important;*/
       	width:100%;
        padding-top: 5px;
}

#ratio {
	text-align: right;
	/*float: right;*/
	margin: 6px;
	line-height: 32px;
	margin-left: 58%;
}

#list {
    white-space:nowrap;
   /* padding: 6px;*/
   	height:246px;
}

div.container {
    margin: 5px;
    border: 1px solid transparent;
    width: 17%;
    cursor:pointer;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    border-radius: 6px;
}

div.container:hover {
    border: 1px solid #DB7F1E;
}

div.div1 {
    width: 100%;
    height: auto;
}

.title {
	font-family: Helvetica Neue', sans-serif;
}

.title a{
	text-decoration: none;
	color: black;
}

.title a:hover {
	font-family: Helvetica Neue', sans-serif;
	text-color: black;
}

div.title {
    padding: 15px;
    text-align: center;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
   	font-family: Roboto;
   	font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
   	padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

/* cenas dos filtros */
.contain {
   /* overflow: hidden;
    background-color: #333;*/
    font-family: Roboto;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
    text-align: center;
    margin-left: 68%;
}

.superWrapper {
    position: relative;
}

.dropdown {
    float: left;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
   /* padding: -10px;
    size: -8px;*/
    border-radius: 1px;
    width: 160px;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: grey;
    padding: 6px 64px;
    background-color: inherit;
}

/*.contain .dropdown:hover .dropbtn {
    background-color: red;
}*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content span {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content span:hover {
    background-color: #ddd;
}

.dropdown {
    /* border: 1px solid grey; */
    background: white;
}



/* DADOS - Content widget */
.dados {
    clear: both;
    float:none;
    display: block;
}

.dados-block {
	margin-bottom: 10px;
    box-shadow: 0 0 1px 0px #848484;
    background-color: rgb(255, 255, 255);
    border-radius:5px;
}

.dados-block:hover {
    box-shadow: 0 0 3px 0 #db7f1e;
    border-radius:5px;
}

.dados-block:hover .dados-header {
    background-color: #db7f1e;
    color: white;
}

.dados-block:hover .dados-content {
    background-color: #fff0cd;
}

.dados-header {
    background-color: rgba(202, 202, 202, 0.13);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    padding-top: 0.5px;
    padding-bottom: 1px;
	-webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    text-align:center;
    overflow:hidden;
}

p.typeOcorr {
    color: grey;
    font-size: 14px;
    padding-bottom: 2px;
    text-align: center;
    overflow:hidden;
}

.listButtons {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.dados > a {
    margin: 1%;
}

.dados-header-header {
    background-color: rgba(202, 202, 202, 0.43);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    padding-top: 0.5px;
    padding-bottom: 1px;
	-webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    /*text-align:center;*/
    overflow:hidden;
    margin-top: 10px;
    /* margin-left: 4px; */
    padding-left: 10px;
}

p.empty {
    text-align: center;
    margin-top: 25px;
}