html {
	height: 100%;
    box-sizing: border-box;
	background-color: #f1f1f1;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    color: #333333;
}
header {
    position: fixed;
    height: 82px;
    width: 100%;
    padding: 1rem;
    text-align: right;
    top: 0;
    background: #fff;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
}
header .logo{
    height: 50px;
    float: left;
}
header nav{
    height: 1em;
}
header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
    font-size: 14px;
}
header a {
    color: #000;
    text-decoration: none;
}
header a:hover {
    color: rgb(0, 115, 216);
    text-decoration: none;
}
.parallax { 
    margin-top: 82px;
    background-image: url("../resource/lisbon.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax .content {
    padding: 2rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.parallax .launch {
	display: flex;
	justify-content: center;
}
.parallax .launch a, .parallax .launch a:visited {
	background-color: rgb(219, 127, 30);
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
}
.parallax .launch a:hover, .parallax .launch a:active, .parallax .launch a:focus {
	text-decoration: none;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
}
main {
    margin: 0 auto;
    max-width: 760px;
    width: 94%;
    padding: 1rem;
}
.people {
    text-align: center;
}
.person {
    display: inline-block;
    margin-right: 10px;
    width: 128px;
    text-align: center;
}
.avatar {
    height: 128px;
    width: 128px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.07)
}
article {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.07);
    margin-bottom: 10px;
}
article .posted {
    font-size: 0.8em;
    color: rgba(0,0,0,0.6);
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #000;
}
footer .copyright {
    display: inline-block;    
    width: 100%;
    max-width: 230px;
    color: #777;
    font-size: 0.8em;
}
footer .codefive {
    float: left;
    height: 30px;
    margin-right: 12px;
    opacity: .8;
}
footer .social {
    display: inline-block;
    float: right;
}
.social a{
    display: inline-block;
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
    transition: background 0.5s;
}
#facebook{
    background: url('../resource/facebook-bw.png');
}
#facebook:hover{
    background: url('../resource/facebook.png');
}
#twitter{    
    background: url('../resource/twitter-bw.png');
}
#twitter:hover{    
    background: url('../resource/twitter.png');
}