html, body {
	height: 100%;
}

.pagina {
    width: 86%;
    padding-top: 6px;
    float: right;
    margin-bottom: 10px;
}

.caixa-da-alegria {
    background: #f1f1f1;
    color: #444;
    border-radius: 6px;
    /*float: left;*/
    width: 100%;
}

.pagina-header {
    background-color: rgb(219, 127, 30);
	background-image: -webkit-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: -moz-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: -o-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	font-size: .85rem;
	font-weight: 500;
	height: 34px;
	line-height: 38px;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	text-transform: uppercase;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: white;
	text-align: left;
	text-indent: 6px;
}

#issues {
    background-color: rgb(219, 127, 30);
	font-size: .85rem;
	font-weight: 500;
	height: 34px;
	line-height: 38px;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	text-transform: uppercase;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: white;
	text-align: left;
	text-indent: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.pagina-content {
	padding: 10px;
   /* display: flex;*/
    width: 100%;
}

a {
  text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*background: #eee;
    color: #444;*/
    background-color:#FFFFFF;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
	padding: 6px;
    text-rendering: optimizeLegibility;
}

div.wrapper {
    margin: 0 6px 0 6px;
    padding-bottom: 5px;
}

nav.vertical {
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,.15);
	overflow: hidden;
	text-align: left;
	text-indent: 6px;
	margin-top: 5px;
	/*height: 34px;*/
}

nav.vertical > ul {
	list-style-type: none;
}

nav.vertical > ul > li {
	display: block;
}

nav.vertical > ul > li > a {
	background-color: rgb(219, 127, 30);
	background-image: -webkit-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: -moz-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: -o-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	border-bottom: 1px solid rgba(255,255,255,.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
	color: #fff;
	display: block;
	font-size: .78rem;
	font-weight: 500;
	height: 34px;
	line-height: 38px;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	text-transform: uppercase;
	transition: all .1s ease;
	text-decoration: none;
}
        
nav.vertical/*:hover*/ .submenu {
    visibility: visible; /* shows sub-menu */
	opacity: 1;
	z-index: 0;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

nav.vertical:hover {
    height: 100%;
}

.submenu {
	visibility: hidden; /* hides sub-menu */
	opacity: 0;
	position: relative;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 0;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

nav.vertical > ul > li > div > ul > li > a {
	background-color: rgba(251, 183, 44, 0.5);
	border-bottom: 1px solid rgba(0,0,0,.05);
	color: rgb(173, 89, 0);
	display: block;
	font-size: 1.0rem;
	padding: 5px 0;
	text-decoration: none;
	transition: all 0.15s linear;
	text-indent: 6px;
}

nav.vertical > ul > li > div > ul > li:hover > a {
	background-color: rgba(251, 183, 44, 0.84);
	color: rgb(255,255,255);
}

.masthead {
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 490px) {
  .masthead {
    position: absolute;
    top: 0;
    left: 0;
    width: 14%;
	float: left;
	padding-top: 6px;
  }
  .masthead .brand-container {
    margin: 3px auto;
    /*width: 218px;
    height: 218px;
    border-radius: 6px;
   	background-image: url(Cityaid_logo.jpg);
    background-size: cover;*/
    padding-top:6px;
    max-width: 42vh;
    max-height: 44vh;
	text-align: center;
  }
  .masthead .brand-container a {
    display: block;
  }
  .masthead .brand-container img {
  	/*width:218px;
  	height:218px;*/
  	border-radius:6px;
  	width: 80%;
  }
}

.tudo {
    display: flex;
    overflow: hidden;
}
.tudo .masthead {
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 14%;
    min-width: 209px;
}

.tudo .pagina {
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 85.5%;
    margin-left:0.5%;
    
}

.pagina-header .icon {
  display: none;
}

@media screen and (max-width: 490px) {
  .topnav nav:not(:first-child) {display: none;}
  .pagina-header a.icon {
    float: right;
    display: block;
    margin-top:1%;
    margin-right:2%;
    color:white;
  }
  .brand-container {
  display:none;
  }
  .tudo .pagina {
    height: 100%;
    position: absolute;
    overflow: scroll;
    width: 97%;
    margin-left: 0.5%;
	}
	.masthead {
	}
}

@media screen and (max-width: 490px) {
  .topnav.responsive {
  	position: relative;
  	z-index:99999;
  	padding:42px 0px 0px 2px;
  
  }
  .pagina-header .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive nav {
    float: none;
    display: block;
    text-align: left;
  }
  
  .contain {
    font-family: Roboto;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
    text-align: center;
    margin-left: 2%;
    margin-top: 12%;
	}
}

.hidden{
	display: none!important;
}