#pagina-content {
    padding: 10px;
    display: inline-block;
}

.div1 img {
	width:100%;
	height:150px;
    object-fit: cover;
    /*border-radius:6px;*/
}

.wrapper1 { 
       /* background:#EFEFEF; 
        box-shadow: 1px 1px 10px #999;*/
        /*margin: auto; */
       /* text-align: center; */
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        /*margin-bottom: 20px !important;*/
        width: 100%;
        padding-top: 5px;
}
    
#unresolved, #work_in_progress, #resolved{
	/*overflow-x: scroll;
    overflow-y: hidden;*/
    /*height:246px;*/
    white-space:nowrap;
}

div.container {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1%;
   	border: 1px solid transparent;
    width: 17%;
    /*margin-left: 1%;
    margin-right: 1%;*/
    /*max-height:240px;*/
    cursor:pointer;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,.15);
}

div.container:hover {
   	border: 1px solid #DB7F1E;
}

div.div1 {
    width: 100%;
    height: auto;
}

.title {
	font-family: Helvetica Neue', sans-serif;
}
.title a{
	text-decoration: none;
	color: black;
}

.title a:hover {
	font-family: Helvetica Neue', sans-serif;
	text-color: black;
}

div.title {
    padding: 15px;
    text-align: center;
}

#tituloMinhas {
	font-family: Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 25px;
	margin: 24px 0;
	margin-top: 10px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 24px;
	text-align: left;
	font-weight: bold;
}

/* DADOS - Content widget */
.dados {
    clear: both;
    float:none;
    display: block;
}

.dados-block {
	margin-bottom: 10px;
    box-shadow: 0 0 1px 0px #848484;
    background-color: rgb(255, 255, 255);
    border-radius:5px;
}

.dados-block:hover {
    box-shadow: 0 0 3px 0 #db7f1e;
    border-radius:5px;
}

.dados-block:hover .dados-header {
    background-color: #db7f1e;
    color: white;
}

.dados-block:hover .dados-content {
    background-color: #fff0cd;
}

.dados-header {
    background-color: rgba(202, 202, 202, 0.13);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    padding-top: 0.5px;
    padding-bottom: 1px;
	-webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    text-align:center;
    overflow:hidden;
}

.dados-header-header {
    background-color: rgba(202, 202, 202, 0.43);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    padding-top: 0.5px;
    padding-bottom: 1px;
	-webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    text-align:center;
    overflow:hidden;
    padding-left: 14px;
    height:20px;
    margin-top: 13px;
}

p.typeOcorr {
    color: grey;
    font-size: 13px;
    padding-bottom: 2px;
    text-align: center;
    height: 16px;
    overflow:hidden;
}

.listButtons {
	margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
}

/*.dados > a {
    margin: 1%;
}*/

/*p.empty {
    margin-left: 22px;
}*/

p.empty {
    text-align: center;
    margin-top: 1%;
}

button {
    background-color: rgba(251, 183, 44, 0.5);
    border: none;
    color: rgb(173, 89, 0);
    border-radius: 6px;
    padding: 4px;
    font-size: 14px;
    height: 30px;
}

@media screen and (max-width:490px){
	p.typeOcorr {
    	color: grey;
   	 	font-size: 10px;
    	padding-bottom: 13px;
    	text-align: center;
    	height: 10px;
    	overflow: hidden;
	}
	
		.div1 img {
    	width: 100%;
    	height: 58px;
    	object-fit: cover;
    	/* border-radius: 6px; */
	}
	
	.dados-header {
    	background-color: rgba(202, 202, 202, 0.13);
    	color: #4a4a4a;
    	text-transform: uppercase;
    	font-weight: bold;
    	font-size: 10px;
    	line-height: 14px;
    	padding-top: 0px;
    	padding-bottom: 0px;
    	-webkit-transition: background-color 1s ease;
    	transition: background-color 1s ease;
    	text-align: center;
    	overflow: hidden;
    	height:15px;
	}
}