/*-------------------------------------Reports Issues----------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	 display: none; /* Hidden by default */
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.reportButton {
	float: right;
	padding-right: 10px;
	/* Nao Funciona */
	font-family: Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 25px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: left;
}

.comment-create{
	width: 100%;
}
/*-------------------------------------Botao-------------------------------------------*/
.button {
 width: 20%;
    background-color: #cecece;
    color: white;
    border: none;
    padding: 1px;
    cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*---------------------------------------------------------------------------*/
.edit-icon {																   
    position: relative;
    color: #af6f2e;
    border-radius: 16px;
    width: 20px;
    border: none;
}

.edit-icon .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.edit-icon .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.edit-icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.edits{
	width: 100%;
}
/*---------------------------------------------------------------------------*/
p {
	font-family: Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 25px;
	margin: 24px 0;
	margin-top: 10px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 24px;
	text-align: left;
	font-weight: bold;
}

span {
	font-family: georgia;
	font-weight: normal;
}

#lapisName, #lapisAddress, #lapisEmail, #lapisNIF, #lapisBirthdate, #lapisGender, #lapisPhone {
	width: 13px;
}

#name {
	margin-top: 0px;
}

#imagem {
	/*float: left;
	margin-right: 50px;
	margin-left: 18px;
	margin-bottom: 40px;*/
}

#userInfo {
	margin-bottom: 75px;
}

button {
	background-color: rgba(251, 183, 44, 0.5);
	border: none;
	color:rgb(173, 89, 0);
	border-radius:6px;
	padding:4px;
	font-size: 14px;
	height:30px;
}

input[type="text"] {
	outline:none;
	width: 250px;
	height:26px;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    font-size: 12px;
    background-color:white;
    padding: 4px 4px 4px 4px;
    -webkit-transition: all .35s ease-in-out;
  	transition: all .35s ease-in-out;
}

input[type="text"]:focus {
    border-color: #DB7F1E;
}

/* BUTTONS */
.box-button {
	width: 30%;
    background-color: #cecece;
    color: white;
    border: none;
    padding: 1px;
    cursor: pointer;
}

.box-button:hover {
    background-color: #f9c659;
}

.box-button:active {
	background-color: #f9c659;
	cursor: default;
}


/* TWO COLUMN CONTENT DISPLAYER*/
.pagina-left-content {
    float: left;
    width: 49%;
    clear: none;
}

.pagina-right-content {
    float: right;
    width: 50%;
    clear: none;
}


/* DADOS - Content widget */
.dados {
    clear: both;
	text-align: center;
}

.dados-block {
	margin-bottom: 10px;
    box-shadow: 0 0 1px 0px #848484;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.dados-block:hover {
    box-shadow: 0 0 3px 0 #db7f1e;
}

.dados-block:hover .dados-header {
    background-color: #db7f1e;
    color: white;
}

.dados-block:hover .dados-content {
    background-color: #fff0cd;
}

.dados-block:hover .editable-icon {
    visibility: visible;
    color: #db7f1e;
}

.editable-icon {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    cursor: pointer;
    position: relative;
    top: -6px;
	width: 0;
}

.dados-half-left {
	width: 49%;
	float: left;
}

.dados-half-right {
	width: 49%;
	float: right;
}

.dados-full {
	width: 100%;
	text-align:center;
}

.dados-header {
    background-color: rgba(202, 202, 202, 0.13);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
	-webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    overflow: hidden;
}

.dados-content {
    padding: 6px;
}

.dados-dentro-three {
    width: 32.5%;
    /* float: left; */
    margin-right: 4px;
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
    margin-right: 1%;
    margin-left: 1%;
}

.dados-three {
    clear: both;
    text-align: center;
    display: flex;
    /*overflow: hidden;*/
}

.comentario-user {
    /* border-bottom: #A0A0A0; */
    /* size: 6px; */
    box-shadow: 0 0 1px 0px #848484;
    background-color:  rgba(132, 132, 132, 0.33);
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    padding-bottom: 3px;
}

.comentario-user .title {
    margin-left: 8px;
    /* size: 1px; */
    font-size: 14px;
    /* margin-top: -5px; */
    padding-top: -18px;
}

.container {
    /* border: 1px solid #A0A0A0; */
    /* color: white; */
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    /* overflow: hidden; */
    text-indent: 6px;
    margin-top: 10px;
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.container:hover .comentario-user{
	/*background-color:rgba(109, 0, 0, 0.83);*/
	background-color: #fde893;
	/*color: white;*/
}

.conteudo {	
    box-shadow: 0 0 1px 0px #848484;
    padding-bottom: 8px;
    padding-top: 8px;    
    background-color: white;
}

div#logs {
    height: 428px;
    overflow-y: scroll;
}

.dados-content.image {
    height: 322px;
}

@media screen and (max-width:490px){
	.dados-dentro-three {
    	width: 99%;
    	/* float: left; */
    	margin-right: 4px;
   	 	/* height: 100%; */
    	/* position: relative; */
    	/* overflow: hidden; */
    	/* margin-right: 1%; */
    	/* margin-left: 1%; */
    	padding-right: 0px;
    	padding-left: 1%;
    	vertical-align: top;
    	margin-top: 1%;
    	display: inline-block;
	}
	.dados-three {
    	clear: both;
    	text-align: center;
    	overflow-y: scroll;
    	position: relative;
    	float: none;
    	display: block;
    	clear: both;
    	/* display: flex; */
    	/* overflow: hidden; */
	}
}