body {
	/*margin: 40px;*/
    /*background: #eee;
    color: #444;*/
    background-color:#FFFFFF;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /*height: auto !important;
    height: 100%;
    min-height: 100%;*/
    text-rendering: optimizeLegibility;
}

p {
	text-align: left;
}

.masthead {
	width: calc(100%-40px);
	float: left;
	margin-left: 40px;
	margin-right: 50px;
	margin-top:30px;
	padding-right: 50px;
}

#pagina {
	width: calc(100%-238px);
	margin-left: 597px;
    padding-top: 10px;
    padding-right: 6px;
}

#caixa-da-alegria {
	/*background-color:#FFFFFF;*/
	background: #eee;
    color: #444;
	/* width: 1100px; */
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,.15);
	/*max-width: 2000px;
	margin: 0 auto;*/
}

#pagina-header {
    background-color: rgb(219, 127, 30);
	background-image: -webkit-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: -moz-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: -o-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	font-size: .85rem;
	font-weight: 500;
	height: 34px;
	line-height: 38px;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	text-transform: uppercase;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: white;
	text-align: left;
	text-indent: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.pagina-content {
    padding: 2%;
}

div#div4 {
    /* width: 32px; */
    height: 135px;
}

input[type="text"] {
	outline:none;
	width: 100%;
	height:26px;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    font-size: 12px;
    background-color:white;
    padding: 4px 4px 4px 4px;
    -webkit-transition: all .35s ease-in-out;
  	transition: all .35s ease-in-out;
}

input[type=text]:focus {
    border-color: #DB7F1E;
}

input[type="password"] {
	outline:none;
	width: 100%;
	height:26px;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    font-size: 12px;
    background-color:white;
    padding: 4px 4px 4px 4px;
    -webkit-transition: all .35s ease-in-out;
  	transition: all .35s ease-in-out;
}

input[type=password]:focus {
    border-color: #DB7F1E;
}

input[type="checkbox"] {
	outline:none;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    background-color:white;
}

#login {
	background-color: rgba(251, 183, 44, 0.5);
	color:rgb(173, 89, 0);
	text-decoration: none;
	padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
	border-radius:6px;
	border: 1px solid rgba(251, 183, 44, 0.5);
}

#register {
	background-color: rgba(251, 183, 44, 0.5);
	border: none;
	color:rgb(173, 89, 0);
	border-radius:6px;
	padding:4px;
	font-size: 14px;
	height:30px;
	width:100px;
	margin-top:1%;
	margin-bottom:2%;
}

#logo {
	width: 82%;
	/*height: 450px;*/
	/*padding: 5px;*/
	padding-top: 20%;
}

div#pagina-content {
    padding-left: 6px;
    padding-right: 6px;
}

.pagina-content {
    padding: 10px;
}

.footer {
    /*position: absolute;*/
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px;
    background-color: rgba(251, 183, 44, 0.5);
}
.footer .copyright {
    display: inline-block;    
    width: 100%;
    max-width: 230px;
    color: #777;
    font-size: 0.8em;
}
.footer .codefive {
    float: left;
    height: 30px;
    margin-right: 12px;
    opacity: .8;
}
.footer .social {
    display: inline-block;
    float: right;
}
.social a{
    display: inline-block;
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
    transition: background 0.5s;
}
#facebook{
    background: url('../resource/facebook-bw.png');
}
#facebook:hover{
    background: url('../resource/facebook.png');
}
#twitter{    
    background: url('../resource/twitter-bw.png');
}
#twitter:hover{    
    background: url('../resource/twitter.png');
}

.pagina-content {
	padding: 10px;
   display: flex;
    width: 100%;
}

.tudo {
    /*display: flex;*/
    overflow: hidden;
}

/* TWO COLUMN CONTENT DISPLAYER*/
.pagina-left-content {
    /* float: left; */
    width: 47%;
    /* padding-right: 6px; */
    margin-left: 2%;
    margin-right:1%;
    /* clear: none; */
    height:100%;
}

.pagina-right-content {
   	width: 47%;
    padding-left: 6px;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 1%;
    height:100%;
}

form {
	width: 100%;
}

.dados-full {
	width: 100%;
}

/* DADOS - Content widget */
.dados {
    clear: both;
	text-align: center;
}

.dados-block {
	margin-bottom: 10px;
    box-shadow: 0 0 1px 0px #848484;
    background-color: rgb(255, 255, 255);
}

.dados-block:hover {
    box-shadow: 0 0 3px 0 #db7f1e;
}

.dados-block:hover .dados-header {
    background-color: #db7f1e;
    color: white;
}

.dados-block:hover .dados-content {
    background-color: #fff0cd;
}

.dados-header {
    background-color: rgba(202, 202, 202, 0.13);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
	-webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.dados-content {
    padding: 6px;
    overflow:hidden;
}

.form {
	width: 100%;
}

.dados-full {
	width: 100%;
}

.tudo {
    /*display: flex;*/
    overflow: hidden;
}

.reg {
	margin:19px;
	margin:2%;
}

@media screen and (max-width: 490px) {
	.tudo {
		position: absolute;
		width:100%;
		padding-right: 4%;
	}
	
	.pagina-content {
		overflow: scroll;
    	position: relative;
    	float: none;
    	display: block;
    	clear: both;
    	padding:0px;
    	width:100%;
	}
	
	.pagina-left-content {
		text-align: center;
    	width: 100%;
    	display: inline-block;
    	vertical-align: top;
    	margin-left: 0px;
	}
	
	#logo {
		width: 68%;
		height:68%;
		padding: 0px;
	}
	
	.pagina-right-content {
	    width: 100%;
    	display: inline-block;
    	vertical-align: top;
    	margin-top:0px;
	}
	
	.dados-full {
   		width: 100%;
    	margin-top: 4%;
	}

	.dados-block {
    	margin-bottom: 10px;
    	box-shadow: 0 0 1px 0px #848484;
    	background-color: rgb(255, 255, 255);
	}
	
	.dados {
    	clear: both;
    	text-align: center;
    	/* margin-top: 0%; */
	}
	
	.reg {
    	margin: 19px;
   	 	font-size: 15px;
    	text-align: center;
    	margin-left: 0%;
	}
	
	#registo {
    	background-color: rgba(251, 183, 44, 0.5);
    	color: rgb(173, 89, 0);
    	text-decoration: none;
   		 padding: 1px;
    	border-radius: 6px;
    	/* margin-top: 31px; */
    	border: 1px solid rgba(251, 183, 44, 0.5);
	}
	
	#login {
    	background-color: rgba(251, 183, 44, 0.5);
    	border: none;
    	color: rgb(173, 89, 0);
    	border-radius: 6px;
    	padding: 4px;
    	font-size: 14px;
    	height: 30px;
    	width: 100px;
    	margin-bottom: 6px;
	}
	
	body {
		padding-top: 0px;
	}
	
	.footer {
    	/* position: absolute; */
    	/* margin-top: 30%; */
    	right: 0;
    	bottom: 0;
   	 	left: 0;
    	padding: 12px;
    	background-color: rgba(251, 183, 44, 0.5);
    	/* position: absolute; */
	}
	
	#pagina-content {
		padding: 7px;
	}
}
