#backStats p {
	font-family: Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 25px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom:3px;
	text-align: left;
	font-weight: bold;
}

#nUsers, #nUsersActv, #nEntitys, #nModerators, #averageIssuesUsers, #nTotalIssues, #nIssuesUnresolved, #nIssuesBeingResolved, 
#nIssuesResolved, #nIssuesClosed {
	font-family: georgia;
	font-weight: normal;
	margin-bottom:10px;
}

#statsTitle {
	font-size: 1.5rem;
}