#userStats p {
	font-family: Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 25px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: left;
	font-weight: bold;
}

#issuesCreated, #issuesResolved, #issuesUnresolved, #issuesInProgress, #issuesFollowed, #comments, #ratings,
 #numberMedals, #medalsToWin, #rank, #points, #pointsUntilNext {
	font-family: georgia;
	font-weight: normal;
	margin-bottom:10px;
}

#statsTitle {
	font-size: 1.5rem;
}