body {
	margin: 40px;
    /*background: #eee;
    color: #444;*/
    background-color:#FFFFFF;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
	padding: 6px;
    text-rendering: optimizeLegibility;
}

p {
	text-align: left;
}

#logo {
	float: left;
	margin-left: 40px;
	margin-right: 50px;
	padding-right: 50px;
}

#pagina {
	width: calc(100%-238px);
	margin-left: 597px;
    margin-top: 97px;
    padding-top: 20px;
    padding-right: 6px;
}

#caixa-da-alegria {
	/*background-color:#FFFFFF;*/
	background: #eee;
    color: #444;
	/* width: 1100px; */
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,.15);
	max-width: 2000px;
	margin: 0 auto;
}

#pagina-header {
    background-color: rgb(219, 127, 30);
	background-image: -webkit-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: -moz-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: -o-linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	background-image: linear-gradient(135deg, rgb(219, 127, 30), rgb(219, 127, 30));
	font-size: .85rem;
	font-weight: 500;
	height: 34px;
	line-height: 38px;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	text-transform: uppercase;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: white;
	text-align: left;
	text-indent: 6px;
}

#pagina-content {
	padding: 10px;
}

input[type="text"] {
	outline:none;
	width: 250px;
	height:26px;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    font-size: 12px;
    background-color:white;
    padding: 4px 4px 4px 4px;
    -webkit-transition: all .35s ease-in-out;
  	transition: all .35s ease-in-out;
}

input[type=text]:focus {
    border-color: #DB7F1E;
}

input[type="password"] {
	outline:none;
	width: 250px;
	height:26px;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    font-size: 12px;
    background-color:white;
    padding: 4px 4px 4px 4px;
    -webkit-transition: all .35s ease-in-out;
  	transition: all .35s ease-in-out;
}

input[type=password]:focus {
    border-color: #DB7F1E;
}

input[type="checkbox"] {
	outline:none;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0 /*#DB7F1E #FBB72C*/;
    border-radius: 6px;
    background-color:white;
}

#registo {
	background-color: rgba(251, 183, 44, 0.5);
	color:rgb(173, 89, 0);
	text-decoration: none;
	padding: 6px;
	border-radius:6px;
	border: 1px solid rgba(251, 183, 44, 0.5);
}

#login {
	background-color: rgba(251, 183, 44, 0.5);
	border: none;
	color:rgb(173, 89, 0);
	border-radius:6px;
	padding:4px;
	font-size: 14px;
	height:30px;
	width:100px;
}