
/*-------------------------------------Reports Issues----------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	 display: none; /* Hidden by default */
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.reportButton {
	float: right;
	padding-right: 10px;
	/* Nao Funciona */
	font-family: Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 25px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: left;
}
/*-------------------------------------Botao-------------------------------------------*/
.button {
 width: 20%;
    background-color: #cecece;
    color: white;
    border: none;
    padding: 1px;
    cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*---------------------------------------------------------------------------*/
.edit-icon {																   
    position: relative;
    color: #af6f2e;
    border-radius: 16px;
    width: 20px;
    border: none;
}

.edit-icon .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.edit-icon .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.edit-icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*reports tooltips*/

.report-icon {																   
    position: relative;
    color: #af6f2e;
    border-radius: 16px;
    width: 20px;
    border: none;
}

.report-icon .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -365%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.report-icon .tooltiptext:after {
    content: " ";
    position: absolute;    
    bottom: 100%;
    top: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.report-icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*...........................................................................*/

/* BUTTONS */
.box-button {
	width: 30%;
    background-color: #cecece;
    color: white;
    border: none;
    padding: 1px;
    cursor: pointer;
}

.box-button:hover {
    background-color: #f9c659;
}

.box-button:active, .box-button.activated {
	background-color: #f9c659;
}


/* TWO COLUMN CONTENT DISPLAYER*/
.pagina-left-content {
    /* float: left; */
    width: 50%;
    padding-right: 6px;
    position:relative;
    /* clear: none; */
}

.pagina-right-content {
    /* float: right; */
    width: 50%;
    padding-left: 6px;
    position:relative;
    /* clear: none; */
}

.caixa {
	display:flex;
	clear: both;
}

/* DADOS - Content widget */
.dados {
    clear: both;
	text-align: center;
}

.dados-block {
	margin-bottom: 10px;
    box-shadow: 0 0 1px 0px #848484;
    background-color: rgb(255, 255, 255);
}

.dados-block:hover {
    box-shadow: 0 0 3px 0 #db7f1e;
}

.dados-block:hover .dados-header {
    background-color: #db7f1e;
    color: white;
}

.dados-block:hover .dados-content {
    background-color: #fff0cd;
}

.dados-half-left {
	width: 49%;
	float: left;
}

.dados-half-right {
	width: 49%;
	float: right;
}

.dados-full {
	width: 100%;
}

.dados-header {
    background-color: rgba(202, 202, 202, 0.13);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
	-webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.dados-content {
    padding: 6px;
    overflow:hidden;
}


/* PROGRESS BAR*/
.progress-bar-label {
    display: inline-block;
    width: 31.4%;
    font-size: 12px;
    text-align: center;
	color: #cccccc;
}

.active {
    color: #000000;
}

.progress-bar-line {
    background-color: rgba(0, 0, 0, 0.05);
    height: 4px;
    width: 29%;
    display: inline-block;
    vertical-align: middle;
}

.progress-bar-dot {
	background-color: rgba(0, 0, 0, 0.05);
    width: 14px;
    height: 14px;
    border-radius: 16px;
    vertical-align: middle;
    display: inline-block;
	margin-left: -3px;
    margin-right: -3px;
}


/* ISSUE STATUS */
.created {
	background-color: #008cff;
}

.wip {
	background-color: #ffb506;
}

.solved {
	background-color: #00c127;
}


/* THUMBNAILS */
#thumbnails {
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.picContainer {
   width: 171px;
   cursor: pointer;
   display: inline-block;
   vertical-align: top;
   /* height: 30%; */
   /* border: #a0a0a0 solid 1px; */
   margin: 4px 3px 0 3px;
   /*border-radius: 6px;*/
   /* float: left; */
}

/*.picContainer:hover {
    box-shadow: 0 0 3px 0 #db7f1e;
}*/


.picContainer img {
	width: 171px;
    height: 114px;
    object-fit: cover;
}

/* COMMENTS */
.saveComment {
    width: 232px;
    background-color: rgb(219, 127, 30);
    border: none;
    color: rgb(255, 255, 255);
    padding: 4px;
    font-size: 14px;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
	cursor: pointer;
}

.terminar {
    width: 241px;
    background-color: rgb(219, 127, 30);
    border: none;
    color: rgb(255, 255, 255);
    padding: 4px;
    font-size: 14px;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
	cursor: pointer;
}

.rate {
    margin-bottom: 14px;
}

#guardarEntity {
    width: 114px;
    background-color: rgb(219, 127, 30);
    border: none;
    color: rgb(255, 255, 255);
    padding: 4px;
    font-size: 14px;
    height: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
	cursor: pointer;
	vertical-align: middle;
}
#guardarEntity:hover{
    background-color: #f9c659;
}

.saveComment:hover {
    background-color: #f9c659;
}

.comment-create {
	width: 100%;
    box-sizing: border-box;
    border: 1px solid; 
    border-color: #A0A0A0;
    font-size: 12px;
    background-color:white;
    padding: 4px 4px 4px 4px;
    -webkit-transition: all .35s ease-in-out;
  	transition: all .35s ease-in-out;
  	height: 45px;
}

.comment-create:focus {
    border-color: #DB7F1E;
}

.comment-view {
    border: #a0a0a0 solid 1px;
    background-color: rgb(253, 253, 253);
    padding: 6px;
    font-size: 14px;
    margin-bottom: 3px;
}

.comment-text {
    font-weight: bold;
    text-align: left;
}

.comment-meta {
    text-align: right;
}

.worker {
    background-color: #ffcc56;
}

.submitter {
    background-color: #cae7ff;
}


/* OTHER */
#map {
    height: 372px;
    box-shadow: 0 0 1px 0px #848484;
	margin-bottom: 10px;
	margin-top: 10px;
}
#map-backoffice {
    height: 376px;
    box-shadow: 0 0 1px 0px #848484;
	margin-bottom: 10px;	
	margin-top: 59px;
}
#map-worker{
    height: 460px;
    box-shadow: 0 0 1px 0px #848484;
	margin-bottom: 10px;	
	margin-top: 58px;
}
#caixa-descritiva{
    clear: both;
	text-align: center;	
	height: 115px;
}
#description{
	height: 56px;
	padding-bottom: 10px;
	overflow-y: scroll;
}
#entityIssue{
	padding: 4px;
}
#entity{
	width:114px;
	height: 22px;
	vertical-align: middle;
}
html, body{
	height: 100%;
}


span {
	margin-bottom: 10px;
}

p {
	font-family: Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 25px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: left;
	font-weight: bold;
}

span {
	font-family: georgia;
	font-weight: normal;
}

/*-------------------------------------Slide das Imagens------------------------------*/
/* The Modal (background) */
.modalImages {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top:100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modalImages-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15%;
  padding: 5px;
  margin: 5px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.modalImage {
	width:100%;
}

.container {
    /* border: 1px solid #A0A0A0; */
    /* color: white; */
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    /* overflow: hidden; */
    text-indent: 6px;
    margin-top: 10px;
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.container:hover .comentario-user{
	/*background-color:rgba(109, 0, 0, 0.83);*/
	background-color: #fde893;
	/*color: white;*/
}

.comentario-user {
    /* border-bottom: #A0A0A0; */
    /* size: 6px; */
    box-shadow: 0 0 1px 0px #848484;
    background-color:  rgba(132, 132, 132, 0.33);
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.edits{
	margin: 0px;
    height: 100%;
    width: 100%;
}

.comentario-user .title {
    margin-left: 8px;
    /* size: 1px; */
    font-size: 14px;
    /* margin-top: -5px; */
    padding-top: -18px;
}


.conteudo {	
    box-shadow: 0 0 1px 0px #848484;
    padding-bottom: 8px;
    padding-top: 8px;    
    background-color: white;
}

div#title {
    height: 30px;
}

.dados-content.watchlist {
    height: 30px;
}

.dados-content.prog {
    height: 50px;
}

.dados-content.coment {
    height: 122px;
}

div#location {
    /*height: 30px;*/
}
.dados-content.criador {
    height: 30px;
}

.dados-content.prioridade {
    height: 30px;
}

div#submitted {
    height: 30px;
    overflow: hidden;
}

div#type {
    height: 30px;
}

div#priority {
    height: 33px;
}

.pagina-content {
	padding: 10px;
   /*display: flex;*/
    width: 100%;
}

.dados-content.left-size {
    height: 422px;
}

.prog {
	margin-bottom:30px;
}

.seguir {
	margin-bottom:18px;
}

.seg {
	margin-top:1px;
}

.prior {
	margin-bottom:31px;
}

.but {
	margin-top:1px;
}

div#descriptionChange {
    height: 56px;
}

div#comments {
    height: 477px;
    overflow-y: scroll;
}

div#logs {
    height: 602px;
    overflow-y: scroll;
}

p.empty {
    text-align: center;
}

button {
    background-color: rgba(251, 183, 44, 0.5);
    border: none;
    color: rgb(173, 89, 0);
    border-radius: 6px;
    padding: 4px;
    font-size: 14px;
    height: 30px;
}

.caixa-entity {
    display: flex;
    clear: both;
    margin-top: 1%;
    margin-bottom: 1%;
}

img#entLogo {
    width: 326px;
    height: 164px;
    object-fit: cover;
    margin-left: 8%;
}

p.typeOcorr1 {
    color: grey;
    font-size: 13px;
    padding-bottom: 2px;
    text-align: center;
    /* height: 16px; */
    overflow: hidden;
}

@media screen and (max-width:490px){
/* BUTTONS */
.box-button {
	width: 30%;
	background-color: #cecece;
	color: white;
	border: none;
	padding: 1px;
	cursor: pointer;
}

.box-button:hover {
	background-color: #f9c659;
}

.box-button:active, .box-button.activated {
	background-color: #f9c659;
}

/* TWO COLUMN CONTENT DISPLAYER*/
	.pagina-left-content {
	    /* float: left; */
    	width: 99%;
    	padding-right: 0px;
    	padding-left: 1%;
    	vertical-align: top;
    	display: inline-block;
    	/* clear: none; */
	}

	.pagina-right-content {
		/* float: left; */
    	width: 99%;
    	padding-right: 0px;
    	padding-left: 1%;
    	vertical-align: top;
    	display: inline-block;
    	/* clear: none; */
	}

	.caixa {
		/* display: flex; */
    	clear: both;
    	overflow-y: scroll;
    	position: relative;
    	float: none;
    	display: block;
    	clear: both;
	}

/* DADOS - Content widget */
.dados {
	clear: both;
	text-align: center;
}

.dados-block {
	margin-bottom: 10px;
	box-shadow: 0 0 1px 0px #848484;
	background-color: rgb(255, 255, 255);
}

.dados-block:hover {
	box-shadow: 0 0 3px 0 #db7f1e;
}

.dados-block:hover .dados-header {
	background-color: #db7f1e;
	color: white;
}

.dados-block:hover .dados-content {
	background-color: #fff0cd;
}

.dados-half-left {
	width: 49%;
	float: left;
}

.dados-half-right {
	width: 49%;
	float: right;
}

.dados-full {
	width: 100%;
}

.dados-header {
	background-color: rgba(202, 202, 202, 0.13);
	color: #4a4a4a;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	-webkit-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.dados-content {
	padding: 6px;
	overflow: hidden;
}

/* PROGRESS BAR*/
.progress-bar-label {
	display: inline-block;
	width: 31.4%;
	font-size: 12px;
	text-align: center;
	color: #cccccc;
}

.active {
	color: #000000;
}

.progress-bar-line {
	background-color: rgba(0, 0, 0, 0.05);
	height: 4px;
	width: 29%;
	display: inline-block;
	vertical-align: middle;
}

.progress-bar-dot {
	background-color: rgba(0, 0, 0, 0.05);
	width: 14px;
	height: 14px;
	border-radius: 16px;
	vertical-align: middle;
	display: inline-block;
	margin-left: -3px;
	margin-right: -3px;
}

/* ISSUE STATUS */
.created {
	background-color: #008cff;
}

.wip {
	background-color: #ffb506;
}

.solved {
	background-color: #00c127;
}

/* THUMBNAILS */
#thumbnails {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.picContainer {
	width: 171px;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	/* height: 30%; */
	/* border: #a0a0a0 solid 1px; */
	margin: 4px 3px 0 3px;
	/*border-radius: 6px;*/
	/* float: left; */
}

/*.picContainer:hover {
    box-shadow: 0 0 3px 0 #db7f1e;
}*/
.picContainer img {
	width: 171px;
	height: 114px;
	object-fit: cover;
}

/* COMMENTS */
.saveComment {
	width: 232px;
	background-color: rgb(219, 127, 30);
	border: none;
	color: rgb(255, 255, 255);
	padding: 4px;
	font-size: 14px;
	height: 30px;
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: pointer;
}

#guardarEntity {
	width: 114px;
	background-color: rgb(219, 127, 30);
	border: none;
	color: rgb(255, 255, 255);
	padding: 4px;
	font-size: 14px;
	height: 22px;
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: pointer;
	vertical-align: middle;
}

#guardarEntity:hover {
	background-color: #f9c659;
}

.saveComment:hover {
	background-color: #f9c659;
}

.comment-create {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid;
	border-color: #A0A0A0;
	font-size: 12px;
	background-color: white;
	padding: 4px 4px 4px 4px;
	-webkit-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
	height: 45px;
}

.comment-create:focus {
	border-color: #DB7F1E;
}

.comment-view {
	border: #a0a0a0 solid 1px;
	background-color: rgb(253, 253, 253);
	padding: 6px;
	font-size: 14px;
	margin-bottom: 3px;
}

.comment-text {
	font-weight: bold;
	text-align: left;
}

.comment-meta {
	text-align: right;
}

.worker {
	background-color: #ffcc56;
}

.submitter {
	background-color: #cae7ff;
}

/* OTHER */
#map {
	height: 372px;
	box-shadow: 0 0 1px 0px #848484;
	margin-bottom: 10px;
	margin-top: 10px;
}

#map-backoffice {
	height: 376px;
	box-shadow: 0 0 1px 0px #848484;
	margin-bottom: 10px;
	margin-top: 59px;
}

#map-worker {
	height: 460px;
	box-shadow: 0 0 1px 0px #848484;
	margin-bottom: 10px;
	margin-top: 58px;
}

#caixa-descritiva {
	clear: both;
	text-align: center;
	height: 115px;
}

#description {
	height: 56px;
	padding-bottom: 10px;
	overflow-y: scroll;
}

#entityIssue {
	padding: 4px;
}

#entity {
	width: 114px;
	height: 22px;
	vertical-align: middle;
}

html, body {
	height: 100%;
}

span {
	margin-bottom: 10px;
}

p {
	font-family: Helvetica Neue ', sans-serif;
	font-size: 1rem;
	line-height: 25px;
	margin-left: 24px;
	margin-right: 24px;
	text-align: left;
	font-weight: bold;
}

span {
	font-family: georgia;
	font-weight: normal;
}

/*-------------------------------------Slide das Imagens------------------------------*/
/* The Modal (background) */
.modalImages {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalImages-content {
	position: relative;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 800px;
}

/* The Close Button */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.mySlides {
	display: none;
}

.cursor {
	cursor: pointer
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15%;
	padding: 5px;
	margin: 5px;
}

.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo {
	opacity: 0.6;
}

.active, .demo:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19)
}

.modalImage {
	width: 100%;
}

.container {
	/* border: 1px solid #A0A0A0; */
	/* color: white; */
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	/* overflow: hidden; */
	text-indent: 6px;
	margin-top: 10px;
	-webkit-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.container:hover .comentario-user {
	/*background-color:rgba(109, 0, 0, 0.83);*/
	background-color: #fde893;
	/*color: white;*/
}

.comentario-user {
	/* border-bottom: #A0A0A0; */
	/* size: 6px; */
	box-shadow: 0 0 1px 0px #848484;
	background-color: rgba(132, 132, 132, 0.33);
	-webkit-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.edits {
	margin: 0px;
	height: 100%;
	width: 100%;
}

.comentario-user .title {
	margin-left: 8px;
	/* size: 1px; */
	font-size: 14px;
	/* margin-top: -5px; */
	padding-top: -18px;
}

.conteudo {
	box-shadow: 0 0 1px 0px #848484;
	padding-bottom: 8px;
	padding-top: 8px;
	background-color: white;
}

div#title {
	height: 30px;
}

.dados-content.watchlist {
	height: 30px;
}

.dados-content.prog {
	height: 50px;
}

.dados-content.coment {
	height: 122px;
}

div#location {
	/*height: 30px;*/
	
}

.dados-content.criador {
	height: 30px;
}

.dados-content.prioridade {
	height: 30px;
}

div#submitted {
	height: 30px;
	overflow: hidden;
}

div#type {
	height: 30px;
}

div#priority {
	height: 33px;
}

.pagina-content {
	padding: 10px;
	/*display: flex;*/
	width: 100%;
}

.dados-content.left-size {
	height: 422px;
}

.prog {
	margin-bottom: 30px;
}

.seguir {
	margin-bottom: 18px;
}

.seg {
	margin-top: 1px;
}

.prior {
	margin-bottom: 31px;
}

.but {
	margin-top: 1px;
}

div#descriptionChange {
	height: 56px;
}

div#comments {
	height: 477px;
	overflow-y: scroll;
}

div#logs {
	height: 602px;
	overflow-y: scroll;
}

p.empty {
	text-align: center;
}
	.reportButton {
		
	}
}