body {
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    padding: 6px;
    text-rendering: optimizeLegibility;
}

.pagina-content {
    padding: 10px;
    /* display: flex; */
    width: 100%;
}

.dados-header-header {
    background-color: rgba(202, 202, 202, 0.43);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    padding-top: 0.5px;
    padding-bottom: 1px;
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    text-align: center;
    overflow: hidden;
    padding-left: 14px;
    height: 20px;
    margin-top: 13px;
}

span {
    font-family: georgia;
    font-weight: normal;
}

span {
    margin-bottom: 10px;
}

.caixa-entity {
    display: flex;
    clear: both;
    margin-top: 1%;
    margin-bottom: 1%;
}

.pagina-left-content {
    /* float: left; */
    width: 50%;
    padding-right: 6px;
    position: relative;
    /* clear: none; */
}

.pagina-right-content {
    /* float: right; */
    width: 50%;
    padding-left: 6px;
    position: relative;
    /* clear: none; */
}

img#entLogo {
    width: 326px;
    height: 164px;
    object-fit: cover;
    margin-left: 8%;
}

.wrapper1 {
    /* margin: auto; */
    /* text-align: center; */
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* margin-bottom: 20px !important; */
    width: 100%;
    padding-top: 5px;
}

.listButtons {
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
}

.dados {
    clear: both;
    float: none;
    display: block;
}

a {
    text-decoration: none;
}

div.container {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1%;
    border: 1px solid transparent;
    width: 17%;
    /* max-height: 240px; */
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,.15);
}

.dados-block {
    margin-bottom: 10px;
    box-shadow: 0 0 1px 0px #848484;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.dados-header {
    background-color: rgba(202, 202, 202, 0.13);
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    padding-top: 0.5px;
    padding-bottom: 1px;
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    text-align: center;
    overflow: hidden;
}

div.div1 {
    width: 100%;
    height: auto;
}

.dados-content {
	overflow:hidden;
}

.div1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* border-radius: 6px; */
}

p.typeOcorr1 {
    color: grey;
    font-size: 13px;
    padding-bottom: 2px;
    text-align: center;
    /* height: 16px; */
    overflow: hidden;
}

@media screen and (max-width:490px){
	.pagina-left-content {
	    /* float: left; */
    	width: 99%;
    	padding-right: 0px;
    	padding-left: 1%;
    	vertical-align: top;
    	display: inline-block;
    	/* clear: none; */
	}

	.pagina-right-content {
		/* float: left; */
    	width: 99%;
    	padding-right: 0px;
    	padding-left: 1%;
    	vertical-align: top;
    	display: inline-block;
    	/* clear: none; */
	}
	
	.caixa-entity {
		/* display: flex; */
    	clear: both;
    	overflow-y: scroll;
    	position: relative;
    	float: none;
    	display: block;
    	clear: both;
	}
}