#pagina-content {
    padding: 10px;
    display: inline-block;
}

img {
	max-width:200px;
	max-height:200px;
    margin-left: 28px;
}

.div1 img {
	max-width:200px;
	max-height:200px;
    margin-left: 28px;
}


div.container {
    margin: 5px;
    /*border: 1px solid #A0A0A0;*/
    float: left;
    width: 255px;
}

/*div.container:hover {
    border: 1px solid #DB7F1E;
}*/

div.div1 {
    width: 100%;
    height: auto;
}

.title {
	font-family: Helvetica Neue', sans-serif;
}
.title a{
	text-decoration: none;
	color: black;
}

.title a:hover {
	font-family: Helvetica Neue', sans-serif;
	text-color: black;
}

div.title {
    padding: 15px;
    text-align: center;
}